.contacto-page {
  /* background: linear-gradient(135deg, #e6484865, #dab3b394, #302a1560); */
  background-repeat: no-repeat;
  background-color: #d3d2d1;
  background-position: center;
  background-size: cover;
}




.info {
  display: flex;
  align-items: center;
  /* para que no se desplace al cambiar */
  justify-content: space-between;
  width: 100%;
}

/* Sección izquierda */
.texto2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: rgb(0, 0, 0);
  margin: 50px;
  padding: 5px;
  border-radius: 40px;
}

.tituloContacto {
  font-size: 80px;
  margin-bottom: 25px;
  text-align: center;
}

.texto2 i {
  color: red;
  font-size: 85px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

.texto2 h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}


.texto2 p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.botonContacto {
  margin-top: 30px;
  height: 50px;
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
  transition: 0.3s;
  cursor: pointer;
  color: yellow;
}

.botonContacto:hover {
  transform: scale(1.03);
  color: red;
}

/* Contenedor del mapa o la imagen */

.imagen-local {
  width: 700px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 80px 50px 50px;
}

/* imagen local */
.imagen-local {
  object-fit: cover;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 50%;
}


@media (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .texto2 {
    width: 90%;
    margin: 30px 0 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .tituloContacto {
    font-size: 50px;
    color: rgb(0, 0, 0);

  }

  .texto2 h2 {
    color: rgb(0, 0, 0);

    font-size: 28px;
  }

  .texto2 p {
    font-size: 22px;
    color: rgb(0, 0, 0);

  }

  .botonContacto {
    font-size: 22px;
    width: 80%;
  }

  .mapa,
  .imagen-local {
    width: 90%;
    height: auto;
    margin: 30px 0;
  }

  .iframe {
    width: 100%;
    height: 400px;
    margin-top: 10px;
  }

  .imagen-local {
    order: -1;
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
  }
}